include ../mixins/mixins
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{tittle}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="icon", type="images/ico",href="/images/logonavin.png")
        script. 
            var userLoggedIn=!{UserDetailsJson};

    body
        block content
        script(type="module", src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js")
        script(nomodule="" ,src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js")
        