extends layouts/main-layout.pug 
block content
    +navbar(UserDetails)
    .container1 
        .home-row 
            nav.sidebar 
                ul 
                    li 
                        a(href="/home") 
                            ion-icon(name="home")
                            | Home
                    li 
                        a(href="/profile") 
                            ion-icon(name="person")
                            | Profile
                    li 
                        a(href="#") 
                            ion-icon(name="notifications")
                            | Notify 
        .main-container 
            +createPostForm(UserDetails) 
            .messages
            +deletePopupmodal()
    script(src="/js/home.js") 
    script(src="/js/common.js" defer="")                      

        
        
