/************************navbar*********************/
:root {
  --primary: #fc427b;
  --color0: #2c3a47;
  --color1: #cad3c8;
  --color2: #58b19f;
  --color3: #f8efba;
  --color4: #3b3b98;
  --white: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
.navbar {
  width: 100%;
  height: 70px;
  background-color: var(--color0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.navbar ul {
  display: inline-flex;
  list-style-type: none;
}
.navbar ul li a {
  text-decoration: none;
  color: var(--color1);
  padding: 10px;
}
.navbar ul li a:hover {
  color: var(--white);
}
.navbar h3 {
  font-size: 18px;
  letter-spacing: 1px;
  color: white;
}
.container {
  width: 80%;
  margin: 0 auto;
  min-height: 800px;
  margin-top: 10px;
}
.container h1 {
  font-weight: 400;
  padding-bottom: 10px;
  font-size: 20px;
  border-bottom: 1px solid #c0bcbc;
}
.container1 {
  width: 80%;
  margin: 0 auto;
  min-height: 800px;
  margin-top: 10px;
}
.container1 {
  display: flex;
}
button {
  background-color: transparent;
  border: none;
  color: var(--color1);
}
.home-row {
  display: flex;
}
.main-container {
  flex: 1;
}
.post-container {
  display: flex;
  padding: 15px;
  border-bottom: 5px solid rgb(230, 236, 240);
}
a {
  text-decoration: none;
}
.post-container .user-pic {
  width: 50px;
  height: 50px;
}
.post-container .user-pic img {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 50%;
}
.post-container .textarea {
  flex: 1;
  padding-left: 15px;
}
.textarea textarea {
  width: 100%;
  outline: none;
  height: 100px;
  border: none;
  resize: none;
  font-size: 19px;
}
#btnPost {
  background-color: var(--primary);
  color: #fff;
  border: none;
  border-radius: 40px;
  padding: 7px 15px;
}
#btnPost:disabled {
  background-color: var(--color1);
}
.home-row .sidebar {
  padding: 15px 10px;
  width: 150px;
}
.home-row .sidebar ul {
  list-style-type: none;
}
.home-row .sidebar ul li a {
  display: flex;
  padding: 5px;
  margin-bottom: 10px;
  gap: 5px;
  color: var(--color0);
  font-size: 16px;
}
.home-row .sidebar ul li a:hover {
  color: var(--primary);
}
.messages .post {
  margin: 10px 0px;
}
.content {
  display: flex;
  gap: 10px;
  padding: 5px;
}
.message-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}
.message-container .header {
  display: flex;
  justify-content: space-between;
}
.user-pic {
  width: 50px;
  height: 50px;
}
.user-pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  object-fit: cover;
}
.time {
  font-size: 10px;
  margin-right: 10px;
}
.post .footer {
  width: 600px;
  display: flex;
  justify-content: space-around;
}
.post .footer button {
  font-size: 18px;
  color: var(--color0);
  line-height: 18px;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0px 5px;
  cursor: pointer;
}
.post .footer button:hover,
.active {
  color: var(--primary) !important;
}
.likebtn ion-icon,
.retweetbtn ion-icon,
.trigger ion-icon,
/* .trigger span, */
.retweetbtn span,
.likebtn span {
  pointer-events: none;
}
.retweettext,
.retweettext a {
  font-size: 12px;
  color: var(--color4);
}
.comment-section {
  background-color: rgb(241, 244, 247);
  padding: 10px;
  border-radius: 10px;
  display: none;
}
.comment-section .textareadiv {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
  display: flex;
  position: relative;
}
.comment-section .textareadiv textarea {
  flex: 1;
  resize: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
}
.comment-section .textareadiv .btnclear {
  position: absolute;
  right: 75px;
  top: 0px;
  padding: 5px;
  cursor: pointer;
}
.comment-section .textareadiv .btnsend {
  background-color: var(--primary);
  color: white;
  width: 70px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 10px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.comment {
  font-size: 13px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #e9e7e7;
}
.comment .user-pic {
  width: 50px;
  height: 50px;
}
.comment-body {
  flex: 1;
}
.comment-body .comment-header {
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.comment-section.commentActive {
  display: block;
}
